{% load static %}
<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
      
    </head>
    <body>
        <div class="container">
            <div class="inner_container">
                <div class="claim_heading">
                    Claim Procedure
                </div>
                <div class="claim_procedure">
                   <ol>
                       <li>1. The loss or damage should be reported to the insurer immediately.</li><br>
                       <li>2. On receipt of claim intimation, the insurer will forward a claim form.</li><br>
                       <li>3. Submit the completed claim form along with an estimate of the loss to the insurer. It is preferable to submit an itemized estimate with separate values.</li><br>
                       <li>4. The insurer will arrange for an inspection of the damaged items to assess the loss. In case of major losses, a specialist-licensed surveyor is deputed.</li><br>
                       <li>5. The insured has to provide the required documents to substantiate the extent of loss.</li><br>
                       <li>6. In case the cause of loss is not established, it is for the insured to prove that the loss or damage has occurred due to an insured peril.</li><br>
                       <li>7. On agreement of claim amount between the insured and the insurer, the claim is settled.</li><br>
                       <li>8. Excess as stated as per the Policy terms and condition will be deducted from the claim payable.</li><br>
                       <li>9. Notice of an accident (not necessarily a claim) involving third parties should be reported to the insurers.</li><br>
                       <li>10.Every accident involving third parties is required to be reported to the police. M.V.Act provides that a third party victim can proceed against the insurers directly.</li><br>
                   </ol>

                </div>
                <div class="claim_but">
                    <button><a href="claim_home">back to home page</a></button>
                </div>
            </div>
           
        </div>
    </body>
</html>