{% load static %}
<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
      
    </head>
    <body>
        <div class="container">
            <div class="inner_container">
                <div class="renew_heading">
                    General Insurance Renewal
                </div>
                <div class="renew_procedure">
                    Renew Your Policy Before It Lapses to Stay Secured

                    What do you wish for most often? A life without problems? Well, we can’t assure you that you’d never have problems in life. What we do assure you is that you can find solutions to them. How? By renewing your insurance cover on a regular basis.
                    Insurance acts as a hedge against the uncertainties of life - accidental injury, damage to property, theft or damage to personal assets like your home and valuables. By renewing your insurance cover, you can face life’s challenges confidently.
                    Your family deserves nothing less than the best life has to offer. Secure their dreams and aspirations by renewing your insurance cover. Lay the foundation for a bright future with Bajaj Allianz.                   

                </div>
                <div class="claim_but">
                    <button><a href="claim_home">back to home page</a></button>
                </div>
            </div>
           
        </div>
    </body>
</html>